Debug/*
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.so
*.o
*.lo
*.la
*.gch
.libs/*
ipch/*
nbproject/*
SDL/*
.lineno
config.log
doc/*
GAMEFRAME
GameLoopTest
TestEventsTest
OpenSurfTest
*~

