Debug/*
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.so
*.o
*.lo
*.la
*.gch
*.a
.libs/*
ipch/*
nbproject/*
SDL/*
.lineno
config.log
doc/*
*-swp
GAMEFRAME
GameLoopTest
TestEventsTest
DoubleSurfTest
EDIT_SURFACEX
EDIT_SPACE2D
*~
.ninja_deps
.ninja_log
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
build.ninja
rules.ninja
Makefile
*.exe
*.dll