Debug/*
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.so
*.o
*.lo
*.la
*.gch
*.a
*.autosave
.libs/*
ipch/*
nbproject/*
.lineno
config.log
doc/*
*-swp
/*Test
.ninja_deps
.ninja_log
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles/
build.ninja
rules.ninja
Makefile
*.exe
*.dll
